<div class="container">
  <div class="page-header" style="margin:0;">
    <%= link_to 'Sobre', about_path %>
    <%= link_to 'Contato', new_contact_path %>
    <%= link_to 'Relatório', reports_path %>
    <h1>.::Home::.</h1>
    <p>Seja bem-vindo!</p>
    <script type="text/javascript">window.onload = REPORT.track()</script>
  </div>
</div>

