<%= link_to "Home", home_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<script type="text/javascript">window.onload = report.track()</script>
