<div class="container">
  <div class="page-header">
    <%= link_to "Home", home_path %>
    <h2>Sobre</h2>
    <p>Rastreamento de usuários para o teste back-end do Icasei.</p>
    <script type="text/javascript">window.onload = report.track()</script>
  </div>
</div>