<div class="container">
  <div class="page-header" style="margin:0;">
    <%= link_to "Home", home_path %>
    <h2>Sobre</h2>
    <p>Rastreamento de usuários para o teste Icasei</p>
    <script type="text/javascript">window.onload = REPORT.track()</script>
  </div>
</div>