<%= link_to "Home", home_path %>

<p>
  <strong>Guid:</strong>
  <%= @report.guid %>
</p>

<p>
  <strong>Url:</strong>
  <%= @report.url %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @report.timestamp %>
</p>

<script type="text/javascript">window.onload = report.track()</script>


